# Node stuff
node_modules/

# Python stuff
venv/
__pycache__/

# Build stuff
dist/
build/

# Env files
.env.local
.next

# Logs and temp files
*.log
*.tmp
*.temp

# user-app ignores
*app-example
expo-env*
*.expo