.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem; /* Add some padding */
}

.header-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin:0;
}

.header-logout {
    background-color: #ef4444;
    /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.header-logout:hover {
    background-color: #dc2626;
    /* Darker red on hover */
}