#trip-page {
    text-align: center;
    margin-top: 70px;
    padding: 1rem 1rem 1rem 1rem;
}

#trip-page h1 {
    color: #333;
    text-align: center;
    padding-bottom: 10px;
}

.trip-no-trip-text {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    margin-top: 20px;
}

#trip-start-date {
    font-size: 1.2rem;
}

#trip-trip-id {
    opacity: 0.5;
    margin-top: 1rem;
}

#trip-stop-btn {
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

#trip-stop-btn:hover {
    background-color: red;
    filter: brightness(80%);
}
